@page "/"
@using System.Globalization

<style>
    .progress-container {
        height: 40px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 5px;
    }

    .progress-bar {
        background-color: #C30039;
        float: left;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
    }

    .progress-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
    }
</style>

<div class="vertical-wrap-panel" style="width: 95%">
    <MudButton OnClick="@this.Refresh" style="align-self: center;">
        <MudPaper Elevation="5" Class="pa-8">
            <MudText Typo="Typo.h6" Color="Color.Primary">Aktueller Kilometerstand</MudText>
            <p>
                <MudText Typo="Typo.h3" Color="Color.Secondary">@(this.TotalDistance.ToString("###0.###")) km</MudText>
            </p>
        </MudPaper>
    </MudButton>
    
    <JdmDistanceGoalState TotalDistance="@this.TotalDistance"></JdmDistanceGoalState>

    
    <MudPaper Elevation="4" Style="align-self: center; width: 100%;" Class="vertical-wrap-panel pa-6 my-3" >
        <MudButton Style="align-self: center" Variant="Variant.Outlined" Class="mb-6" OnClick="@this.StartCalculateCurrentSponsoringState">Aktuellen Spendenstand berechnen</MudButton>
        @if (this.CalculateCurrentSponsoringStateTaskCompletion == null)
        {
            <MudText>Abhängig von der Anzahl der Läufe und Sponsoren kann dies unterschiedlich lange dauern. Während der Berechnung lässt sich die Seite nicht richtig bedienen. (Auch dein Browser hat einen Einfluss auf die Berechnungszeit. Chrome scheint hierbei beispielsweise schneller zu sein als Firefox).</MudText>
        }
        
        @if (this.CalculateCurrentSponsoringStateTaskCompletion?.IsNotCompleted ?? false)
        {
            <MudText>Laden und berechnen...<br/>Während der Berechnung lässt sich die Seite nicht richtig bedienen. (Auch dein Browser hat einen Einfluss auf die Berechnungszeit. Chrome scheint hierbei beispielsweise schneller zu sein als Firefox).</MudText>
        }
        
        @if (this.CalculateCurrentSponsoringStateTaskCompletion?.IsCompleted ?? false)
        {
            <MudText>Aktueller Spendenstand: @(this.CurrentEuros.ToString("####0.###")) €.</MudText>
            <div>
                <div class="progress-container">
                    <div class="progress-bar" 
                        style="width: @((this.CurrentEuros / (decimal)10000 * (decimal)100).ToString("####0.###", CultureInfo.InvariantCulture))%;">
                    </div>
                </div>
                <div class="progress-text">
                    <MudText Typo="Typo.h6">@(this.CurrentEuros.ToString("####0.###")) von 10.000€</MudText>
                </div>
            </div>
        }
    </MudPaper>
</div>