@using JumpDieMeileWebApp.Models
<style>
    .display-none {
        display: none;
    }
</style>

<div class="@(this.RegistrationDone ? "display-none" : "")" style="min-width: 325px; width: 50%;">
    <EditForm EditContext="@this.CurrentEditContext"  OnValidSubmit="this.HandleValidSubmit">
        <DataAnnotationsValidator />
        <MudCard Outlined="true" Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Neuen Läufer anmelden</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField id="firstName" Class="my-2" Label="Vorname" @bind-Value="this.NewRunner.FirstName" For="@(() => this.NewRunner.FirstName)" Variant="Variant.Outlined"/>
                <MudTextField id="lastName" Class="my-2" Label="Nachname" @bind-Value="this.NewRunner.LastName" For="@(() => this.NewRunner.LastName)" Variant="Variant.Outlined"/>
                <MudTextField id="userName" Class="my-2" Label="Nutzername" @bind-Value="this.NewRunner.Username" For="@(() => this.NewRunner.Username)" ErrorText="@this.CurrentUserNameErrorText()"
                              Variant="Variant.Outlined" Immediate="true" HelperText="Dieser Name könnte für andere Nutzer sichtbar sein. Falls du anonym bleiben möchtest, verwende ein Pseudonym."/>
                <MudTextField id="email" Class="my-2" Label="Email" @bind-Value="this.NewRunner.Email" For="@(() => this.NewRunner.Email)" Variant="Variant.Outlined"/>
                <MudTextField id="location" Class="my-2" Label="Wohnort" @bind-Value="this.NewRunner.Location" For="@(() => this.NewRunner.Location)" Variant="Variant.Outlined"/>
                <MudTextField id="postcode" Class="my-2" Label="PLZ" @bind-Value="this.NewRunner.Postcode" For="@(() => this.NewRunner.Postcode)" Variant="Variant.Outlined"/>
                <MudTextField id="streetAndNumber" Class="my-2" Label="Straße und Hausnummer" @bind-Value="this.NewRunner.StreetHouseNr" For="@(() => this.NewRunner.StreetHouseNr)" Variant="Variant.Outlined"/>
                <MudSelect id="gender" Class="my-2" Label="Geschlecht" @bind-Value="this.NewRunner.Gender"  Variant="Variant.Outlined" >
                    <MudSelectItem Value="@((Gender?)Gender.Male)" >@DisplayExtensions.ToDisplayString(Gender.Male)</MudSelectItem>
                    <MudSelectItem Value="@((Gender?)Gender.Female)" >@DisplayExtensions.ToDisplayString(Gender.Female)</MudSelectItem>
                    <MudSelectItem Value="@((Gender?)Gender.Divers)" >@DisplayExtensions.ToDisplayString(Gender.Divers)</MudSelectItem>
                </MudSelect>
                <MudTextField id="comment" Class="my-2" Label="Anmerkung (Optional)" @bind-Value="this.NewRunner.Comment" For="@(() => this.NewRunner.Comment)" Variant="Variant.Outlined" Lines="4"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary" Class="ml-auto ma-2">Registrieren</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

<div class="@(!this.RegistrationDone ? "display-none" : "")" style="min-width: 325px; width: 50%;">
    
    <MudCard Outlined="true" Elevation="4">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Danke für deine Anmeldung.<br />Viel Spaß beim Laufen.</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudTextField ReadOnly="true" Class="my-4" Label="Vollständiger Anzeigename" Value="this.RegisteredRunner?.FullDisplayName" Variant="Variant.Outlined"
                          HelperText="Die Zeichenkette nach deinem Nutzernamen sind die ersten Zeichen deiner eindeutigen ID. Falls jemand durch einen technischen Fehler den gleichen Nutzernamen erstellen konnte wie du, hilft diese ID bei der Unterscheidung" />
            <MudTextField ReadOnly="true" Class="my-4" Label="Vorname" Value="this.RegisteredRunner?.FirstName"  Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Nachname" Value="this.RegisteredRunner?.LastName"  Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Nutzername" Value="this.RegisteredRunner?.Username" Variant="Variant.Outlined" />
            <MudTextField ReadOnly="true" Class="my-4" Label="Email" Value="this.RegisteredRunner?.Email" Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Email" Value="this.RegisteredRunner?.Location" Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Email" Value="this.RegisteredRunner?.Postcode" Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Email" Value="this.RegisteredRunner?.StreetHouseNr" Variant="Variant.Outlined"/>
            <MudTextField ReadOnly="true" Class="my-4" Label="Email" Value="this.RegisteredRunner?.Gender.ToDisplayString()" Variant="Variant.Outlined"/>
            @if (!string.IsNullOrWhiteSpace(this.RegisteredRunner?.Comment))
            {
                <MudTextField ReadOnly="true" Class="my-4" Label="Anmerkung" Value="this.RegisteredRunner?.Comment" Variant="Variant.Outlined"/>
            }
            
        </MudCardContent>
        <MudCardActions>
            <MudButton  Class="ma-4" OnClick="@(async () => { await this.OnInitializedAsync(); this.StateHasChanged(); })" Variant="Variant.Outlined">Weiteren Läufer melden</MudButton>
            <MudButton  Class="ma-4" OnClick="@(async () => { this.NavigationManager.NavigateTo(this.NavigationManager.CreateRoute(PageRoutes.RegisterRunRoute)); })"
                       Variant="Variant.Outlined">Einen Lauf eintragen</MudButton>
        </MudCardActions>
    </MudCard>
    
</div>
