<style>
    .display-none {
        display: none;
    }
</style>

<div class="@(!this.RegistrationDone ? "display-none" : "")">
    Danke für deine Anmeldung. Viel Spaß beim Laufen.???
    <p>
        @this.RegisteredRunner?.Id
    </p>
    <p>
        @this.RegisteredRunner?.FirstName
    </p>
    <p>
        @this.RegisteredRunner?.LastName
    </p>
    <p>
        @this.RegisteredRunner?.Email
    </p>
    <p>
        @this.RegisteredRunner?.Username
    </p>
    <p>
        @this.RegisteredRunner?.FullDisplayName
    </p>
    
    <MudButton OnClick="@(async () => { await this.OnInitializedAsync(); this.StateHasChanged(); })" Variant="Variant.Outlined">Weiteren Läufer melden</MudButton>
    <MudButton OnClick="@(async () => { this.NavigationManager.NavigateTo(PageRoutes.RegisterRunRoute); })" Variant="Variant.Outlined">Einen Lauf eintragen</MudButton>
</div>


<div class="@(this.RegistrationDone ? "display-none" : "")" style="max-width: 400px;">
    <EditForm EditContext="@this.CurrentEditContext"  OnValidSubmit="this.HandleValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Neuen Läufer anmelden</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField Label="Vorname" @bind-Value="this.NewRunner.FirstName" For="@(() => this.NewRunner.FirstName)"/>
                <MudTextField Label="Nachname" @bind-Value="this.NewRunner.LastName" For="@(() => this.NewRunner.LastName)"/>
                <MudTextField Label="Username" @bind-Value="this.NewRunner.Username" For="@(() => this.NewRunner.Username)" ErrorText="@this.CurrentUserNameErrorText()" Immediate="true"/>
                <MudTextField Label="Email" @bind-Value="this.NewRunner.Email" For="@(() => this.NewRunner.Email)"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary" Class="ml-auto">Registrieren</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>
